{% extends 'base.html.twig' %}

{% block title %}
    Log in!
{% endblock %}

{% block body %}
    <div class="page-banner" style="background-image: url('{{ asset('uploads/attachments/panel.jpg')}}')">
        <div class="page-banner-bg"></div>
        <h1>
            Login
        </h1>
        <nav>
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">
                    <a href="{{ path('app_home') }}">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    Login
                </li>
            </ol>
        </nav>
    </div>

    <div class="page-content pt_50 pb_60">
    <div class="container">
        <div class="row cart">
            <div class="col-md-12">
                <div class="reg-login-form">
                    <div class="inner">
            <form method="post" >

                

                    <h1 class="h3 mb-3 font-weight-normal">
                        Please sign in
                    </h1>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-3">
                            <h6>
                                You are logged in as 
                                {{ app.user.userIdentifier }}
                                , 
                                <a href="{{ path('app_logout') }}">
                                    Logout
                                </a>
                            </h6>
                        </div>
                    {% endif %}
                    <div class="form-group">
                    <label for="username">Email Address</label>
                                <input type="email" class="form-control"  value="{{ last_username }}" name="email" id="username"  autocomplete="email" required autofocus>
                     </div> <div class="form-group">  <label for="inputPassword">
                            Password
                        </label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
   </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div style="margin: 10px 0">
                                    <button class="btn btn-lg btn-primary" type="submit" >
                                        Sign in
                                            
                                    </button>
                                    <a href="{{ path('app_forgot_password_request') }}">
                                        Mot de passe oublié?
                                    </a>
                                </div>
                                <!-- Simple link -->

                                <br>
                                    <div class="new-user">
                                        New User? 
                                        <a href="/register" class="link">
                                            Register Now
                                        </a>
                                    </div>
                                
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
                {% endblock %}
               
                