{% extends 'base.html.twig' %}

{% block title %}ImagesVoiture index{% endblock %}

{% block body %}
    <h1>ImagesVoiture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for images_voiture in images_voitures %}
            <tr>
                <td>{{ images_voiture.id }}</td>
                <td>{{ images_voiture.name }}</td>
                <td>
                    <a href="{{ path('app_images_voiture_show', {'id': images_voiture.id}) }}">show</a>
                    <a href="{{ path('app_images_voiture_edit', {'id': images_voiture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_images_voiture_new') }}">Create new</a>
{% endblock %}
