{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
<div class="page-banner" style="background-image: url('{{ asset('uploads/attachments/panel.jpg')}}')">
    <div class="page-banner-bg"></div>
    <h1>FAQ</h1>
    <nav>
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="{{ path('app_home')}}">Home</a></li>
            <li class="breadcrumb-item active">FAQ</li>
        </ol>
    </nav>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>

        <div class="row">
            <div class="col-md-12 faq">
                <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                    {% set i = 0 %}
                    {% for faq in faqs %}
                        {% set i = i + 1 %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{ i }}">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ i }}" aria-expanded="false" aria-controls="collapse{{ i }}">
                                        {{ faq.question }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ i }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ i }}">
                                <div class="panel-body">
                                    <p>{{ faq.reponse|raw }}</p>
                                </div>
                            </div>
                        </div>
                   {% else %}
        <li>{{ 'Not found.'|trans }}</li>
    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
