{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
<div class="page-banner" style="background-image: url('https://demo.phpscriptpoint.com/carpoint/uploads/page_banners/7eb1650ca5075e2b8c9d96f6ab43839e.jpg')">
    <div class="page-banner-bg"></div>
    <h1>Edit Profile Information</h1>
    <nav>
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
            <li class="breadcrumb-item active">Edit Profile Information</li>
        </ol>
    </nav>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partial/_saidbar_user_dashbord.html.twig'  %}
            </div>
            <div class="col-md-9">
            {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                 {% for  message in app.flashes('message') %}
                    
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %} 
                <h2>Modification Information de Profile</h2>
                <form method="post" action="{{ path('app_user_edit_profile') }}">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.phone) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.ville) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.pays) }}
                        </div>
                    </div>
                    <br><br>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
