{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="page-banner" style="background-image: url('{{ asset('uploads/attachments/panel.jpg')}}')">
    <div class="page-banner-bg"></div>
    <h1>Payment history</h1>
    <nav>
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
            <li class="breadcrumb-item active">payment history</li>
        </ol>
    </nav>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partial/_saidbar_user_dashbord.html.twig'  %}
            </div>
            <div class="col-md-9">
    <div class="table-responsive-md">
    <div>
   <style>
    .a.active {
        font-weight: bold;
        color: white !important;
        background-color: #007bff;
    }
    .a {
        padding: 8px 10px;
        border: 1px solid #0eee;
        margin-right: 5px;
        text-decoration: none;
    }
    .conty {
        padding: 10px;
    }
</style>

<div class="container conty">
    <span>Show:</span>
    <div class="container conty">
        <a  href="{{ path('app_user_History', { 'page': orders.currentPageNumber, 'limit': 4 }) }}" 
           class="{{ limit == 4 ? 'active' : '' }} a">
           4
        </a>
        <a href="{{ path('app_user_History', { 'page': orders.currentPageNumber, 'limit': 10 }) }}" 
           class="{{ limit == 10 ? 'active' : '' }} a">
           10
        </a>
        <a href="{{ path('app_user_History', { 'page': orders.currentPageNumber, 'limit': 20 }) }}" 
           class="{{ limit == 20 ? 'active' : '' }} a">
           20
        </a>
        <a href="{{ path('app_user_History', { 'page': orders.currentPageNumber, 'limit': 50 }) }}" 
           class="{{ limit == 50 ? 'active' : '' }} a">
           50
        </a>
    </div>
    <span>items per page</span>
</div>

</div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Nom Complet</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Référence</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ order.fullname }}</td>
                    <td>{{ order.amount }} MAD</td>
                    <td>{{ order.adresse }}, {{ order.city }}</td>
                    <td>{{ order.reference }}</td>
                    <td>{{ order.date|date('d M, Y H:i:s') }}</td>
                    <td>
                        <a href="#" class="btn btn-warning btn-sm btn-block mb-2">Invoice</a>
                        <a href="#" class="btn btn-secondary btn-sm btn-block mb-2">History Detail</a>
                        <a href="#" class="btn btn-primary btn-sm btn-block">Order Detail</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7" class="text-center">Aucune commande trouvée.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
         <div class="pagination">
    {{ knp_pagination_render(orders) }}
</div>
    </div>
</div>

        </div>
    </div>
</div>
{% endblock %}
