{% extends 'base.html.twig' %}

{% block title %}Hello UserDashbordController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="page-banner" style="background-image: url('{{ asset('uploads/attachments/panel.jpg')}}')">
	<div class="page-banner-bg"></div>
	<h1>Dashboard</h1>
	<nav>
		<ol class="breadcrumb justify-content-center">
			<li class="breadcrumb-item"><a href="{{path('app_home')}}">Home</a></li>
			<li class="breadcrumb-item active">Dashboard</li>
		</ol>
	</nav>
</div>
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'partial/_saidbar_user_dashbord.html.twig'  %}
			</div>
			<div class="col-md-9">

				<div class="row">
					{#<div class="col-md-6">
						<div class="dashboard-box dashboard-box-1">
							<div class="text">Active Listing Items</div>
							<div class="number">2</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="dashboard-box dashboard-box-2">
							<div class="text">Pending Listing Items</div>
							<div class="number">0</div>
						</div>
					</div>#}

										<div class="col-md-12">
						<div class="dashboard-box dashboard-box-3">
							<div class="table-responsive">
								<h1>  {{ user.firstname }}  {{ user.name }}</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Nom</td>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Téléphone</td>
                <td>{{ user.phone ? user.phone : 'Non spécifié' }}</td>
            </tr>
            <tr>
                <td>Ville</td>
                <td>{{ user.ville ? user.ville : 'Non spécifiée' }}</td>
            </tr>
            <tr>
                <td>Pays</td>
                <td>{{ user.pays ? user.pays : 'Non spécifié' }}</td>
            </tr>
            
           
            <tr>
                <td>Photo de Profil</td>
                <td>
                    {% if user.photo %}
                        <img src="{{ asset('uploads/profile_pictures/' ~ user.photo) }}" alt="Photo de {{ user.name }}" width="100">
                    {% else %}
                        Aucune photo disponible
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
							</div>
						</div>
					</div>
					

				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}
