<div class="user-sidebar">
    <ul>
        <li><a href="{{ path('app_user_dashbord') }}" class="btn btn-md btn-block btn-dark">{{ 'sidebar.dashboard'|trans }}</a></li>
        <li><a href="{{ path('app_user_History') }}" class="btn btn-md btn-block btn-dark">{{ 'sidebar.payment_history'|trans }}</a></li>
        <li><a href="{{ path('app_user_calendar') }}" class="btn btn-md btn-block btn-dark">{{ 'sidebar.wishlist'|trans }}</a></li>
        <li><a href="{{ path('app_user_edit_profile') }}" class="btn btn-md btn-block btn-dark">{{ 'sidebar.edit_profile'|trans }}</a></li>
        <li><a href="{{ path('app_user_edit_password') }}" class="btn btn-md btn-block btn-dark">{{ 'sidebar.edit_password'|trans }}</a></li>
        <li><a href="{{ path('app_user_edit_profile_photo') }}" class="btn btn-md btn-block btn-dark">{{ 'sidebar.edit_photo'|trans }}</a></li>
        <li><a href="{{ path('app_logout') }}" class="btn btn-md btn-block btn-dark">{{ 'sidebar.logout'|trans }}</a></li>
    </ul>
</div>
