<div class="user-sidebar">
                    <ul>
                        <li><a href="{{ path('app_user_dashbord') }}" class="btn btn-md btn-block btn-dark">Dashboard</a></li>
                        <li><a href="https://demo.phpscriptpoint.com/carpoint/customer/package/purchase/history" class="btn btn-md btn-block btn-dark">Purchase History</a></li>
                        <li><a href="https://demo.phpscriptpoint.com/carpoint/customer/wishlist" class="btn btn-md btn-block btn-dark">Wishlist</a></li>
                        <li><a href="{{ path('app_user_edit_profile') }}" class="btn btn-md btn-block btn-dark">Edit Profile</a></li>
                        <li><a href="{{ path('app_user_edit_password') }}" class="btn btn-md btn-block btn-dark">Edit Password</a></li>
                        <li><a href="{{path('app_user_edit_profile_photo')}}" class="btn btn-md btn-block btn-dark">Edit Photo</a></li>
                        <li><a href="{{ path('app_logout') }}" class="btn btn-md btn-block btn-dark">Logout</a></li>
                    </ul>
                </div>