{% extends 'base.html.twig' %}

{% block title %}Hello Cantact support{% endblock %}

{% block body %}
<div class="page-banner" style="background-image: url('{{ asset('uploads/attachments/panel.jpg')}}')">
	<div class="page-banner-bg"></div>
    <h1>{{ 'contact_us'|trans({}, null, app.session.get('_locale')) }}</h1>
	<nav>
		<ol class="breadcrumb justify-content-center">
			<li class="breadcrumb-item"><a href="{{ path('app_home')}}">{{ 'navbar.home'|trans({}, null, app.session.get('_locale')) }}</a></li>
			<li class="breadcrumb-item active">{{ 'contact_us'|trans({}, null, app.session.get('_locale')) }}</li>
		</ol>
	</nav>
</div>
<div class="page-content pt_0">

<div class="contact-page-map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1662.705983691433!2d-7.642648853307653!3d33.54267116172141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda62d3c77d56d57%3A0x39c864bef89a71f5!2sTechnopark%2C%20Casablanca!5e0!3m2!1sfr!2sma!4v1723809374438!5m2!1sfr!2sma" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="contact-item">
                    <div class="contact-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h4>{{ 'contact.address'|trans({}, null, app.session.get('_locale')) }}</h4>
                        <p></p>
                        <p>
                        {{sittig.getFooterAdrss()}}
                            </p>
                        
                    </div>
                </div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="contact-item">
                    <div class="contact-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="contact-text">
                        <h4>{{ 'contact.phone'|trans({}, null, app.session.get('_locale')) }}</h4>
                         <p></p><p>
                       Office : {{sittig.getFooterPhone()}}
                            </p>
                       
                    </div>
                </div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="contact-item">
                    <div class="contact-icon">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="contact-text">
                        <h4>{{ 'contact.social_media'|trans({}, null, app.session.get('_locale')) }}</h4>
                        <p>
                            </p><p></p>
                        <p>{{sittig.getFooterMail()}}</p>
                    </div>
                </div>
			</div>
		</div>
		<div class="row contact-form">
			<div class="col-md-12">
            {# Affichage des messages flash #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            <h4 class="contact-form-title mt_50 mb_20">{{ 'contact.form.title'|trans({}, null, app.session.get('_locale')) }}</h4>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        {{ form_row(form.visitor_name) }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        {{ form_row(form.visitor_email) }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        {{ form_row(form.visitor_phone) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_row(form.visitor_message) }}
            </div>
            {{ form_row(form.send) }}
            {{ form_end(form) }}
        </div>
		</div>
	</div>
</div>
{% endblock %}
